<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>608652425053-ra0a7dntdde5i4e3dr4mlt9o51ud7itk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608652425053-ra0a7dntdde5i4e3dr4mlt9o51ud7itk</string>
	<key>API_KEY</key>
	<string>AIzaSyDILAX0LgEWntPeXOmu66R9_qEf-Pm0ad4</string>
	<key>GCM_SENDER_ID</key>
	<string>608652425053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guma.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>guma-construction-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>guma-construction-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:608652425053:ios:ba51a9ebfd1daa43</string>
	<key>DATABASE_URL</key>
	<string>https://guma-construction-apps.firebaseio.com</string>
</dict>
</plist>